<h1 class="aboutTitle">About</h1>

<p><span class="novatext">NOVA</span> was created in 2015 by some massive cool
  guy. There was a gap in the market for a Reddit clone that was entirely about
  space and boy did he fill it. One problem was that Reddit didn't look the best,
  so Nova was created as an alternative to the space and physics subreddits, and
  it was super cool and he got high fives for days. Thanks to Sara Soueidan and
  Mary Lou form Codrops for the amazing title and navigation styles tutorial. </p>