.sideBar {
  position: relative;
  left: 70%;
  width: 250px;
  top: 100px;
}

.sponsor {
  background-image: url("http://3.bp.blogspot.com/-m00TSPBn8bA/VF-PF3O6YdI/AAAAAAAAB04/KVxQlexu1Yk/s1600/DSC05628.jpg");
  width: 256px;

  height: 171px;

}